@{
    ViewBag.Title = "title";
}

<div class="row">

    <div class="col-md-12">
        @Html.ActionLink("Create new todo item", "Form", "Todo", null, new {@class = "btn btn-primary"})
    </div>

    @foreach (var todo in ViewBag.Todos)
    {
        <div class="col-md-4">
            <h2>@todo.Title</h2>
            <p>
                @todo.Content
            </p>

            @todo.User.Name
        </div>
    }

</div>