@{
    ViewBag.Title = "title";
}

<div class="row">

    @foreach (var todo in ViewBag.Todos)
    {
        <div class="col-md-4">
            <h2>@todo.Title</h2>
            <p>
                @todo.Content
            </p>

            @todo.User.Name
        </div>
    }

</div>